#lists
  one()
  f()
  horizontal()
  jca()
  ais()
  acs()

.list
  f()
  vertical()
  jcs()
  aist()
  acc()
  max-width 45%
  border-radius 2px
  box-shadow 0 3px 6px rgba(dark, 0.16), 0 3px 6px rgba(dark, 0.23)
  h4
    font-size 1.2rem
    text-transform uppercase
    background-color primary
    color light
    text-align left
    padding 15px 20px
  ul
    min-width 350px
  ul .item
    f()
    horizontal()
    jcb()
    aic()
    acc()
    padding 15px
    font-size 1.3rem
    span
      margin-right 8px
      padding 0 10px
      text-align left
      &:first-child
        one()
    i
      z-index 999
      cursor pointer
      color dark
      transform color .3 swift
      &:hover
        color primary
