dark= #2b2d42 //rgba(43, 45, 66, 100)
middle= #8d99ae //rgba(141, 153, 174, 100)
light= #edf2f4 //rgba(237, 242, 244, 100)
primary= #ef233c //rgba(239, 35, 60, 100)
secondary= #d90429 //rgba(217, 4, 41, 100)
success= #88C425
swift= cubic-bezier(.55,0,.1,1)

h1,h2,h3,h4,h5,h6
  font-family: 'Lato', sans-serif
  margin 0
  font-weight normal
p
  font-family: 'Lato', sans-serif
  font-size 1rem
  line-height 1.5
