@import './styl/base.styl'
@import './styl/settings.styl'

html, body
  position relative
  top 0
  left 0
  width 100%
  height 100%
  padding 0
  margin 0

body
  f()
  vertical()
  jcc()
  aic()
  acc()
  font-family 'Lato', sans-serif
  font-size 16px
  font-weight 400
  line-height 1.5
  background-color light
  color dark
.empty
  display none

#app
  position relative
  top 0
  left 0
  width 100%
  height 100%
  >div
    f()
    vertical()
    jcc()
    aist()
    acc()
    width 100%
    height 100%

h1
  padding 35px
  font-weight 700
  >span
    display block
    >span:first-child
      color primary
  >span:first-child
    font-size 3rem
  >span:last-child
    font-size 5rem

#lists
  one()
  f()
  horizontal()
  jca()
  ais()
  acs()

.list
  f()
  vertical()
  jcs()
  aist()
  acc()
  max-width 45%
  border-radius 2px
  box-shadow 0 3px 6px rgba(dark, 0.16), 0 3px 6px rgba(dark, 0.23)
  h4
    font-size 1.2rem
    text-transform uppercase
    background-color primary
    color light
    text-align left
    padding 15px 20px
  ul
    min-width 350px
  ul .item
    f()
    horizontal()
    jcb()
    aic()
    acc()
    padding 15px
    font-size 1.3rem
    span
      margin-right 8px
    i
      z-index 999
      cursor pointer
      color dark
      transform color .3 swift
      &:hover
        color primary
  ul .add
    padding 0
    form
      f()
      vertical()
      jcst()
      aic()
      width 100%
      height 100%
      padding 15px
      border-top: 2px solid rgba(dark, .4)
    input
      border none
      outline none
      width 100%
      height 100%
      margin 0
      padding 8px
      color rgba(dark, .6)
      font-size 1.3rem
      background-color transparent
    button
      align-self flex-end
      cursor pointer
      border none
      outline none
      width 90px
      padding 8px
      transition box-shadow .3s swift
      color light
      font-size .9rem
      background-color success
      box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
