@import './styl/base.styl'
@import './styl/settings.styl'

html, body
  position relative
  top 0
  left 0
  width 100%
  height 100%
  padding 0
  margin 0

body
  f()
  vertical()
  jcc()
  aic()
  acc()
  font-family 'Lato', sans-serif
  font-size 16px
  font-weight 400
  line-height 1.5
  background-color light
  color dark
.empty
  display none

#app
  position relative
  top 0
  left 0
  width 100%
  height 100%
  >div
    f()
    vertical()
    jcc()
    aist()
    acc()
    width 100%
    height 100%

h1
  padding 35px
  font-weight 700
  >span
    display block
    >span:first-child
      color primary
  >span:first-child
    font-size 3rem
  >span:last-child
    font-size 5rem

#lists
  one()
  f()
  horizontal()
  jca()
  ais()
  acs()

.list
  f()
  vertical()
  jcs()
  aist()
  acc()
  max-width 45%
  border-radius 2px
  box-shadow 0 3px 6px rgba(dark, 0.16), 0 3px 6px rgba(dark, 0.23)
  h4
    font-size 1.2rem
    text-transform uppercase
    background-color primary
    color light
    text-align left
    padding 15px 20px
  ul
    padding 15px
  ul li
    font-size 1.3rem
    padding 8px

#video
  position absolute
  bottom 30px
  right 30px
  padding 0
  margin 0
